<!-- aside OVERLAY -->
        <!-- Pega a tela toda e quando o menu abrir e faz ele fechar quando clickar fora do menu -->
        <div class="aside__overlay" id="asideOverlay"></div>

        <!-- aside MENU -->
        <nav class="aside" id="aside">
            <ul class="aside__ul">
                <li class="aside__li">
                    <a href="/" class="aside__a">
                        <i class="fa-solid fa-house aside__icon"></i>
                        Página Inicial
                    </a>
                </li>
                <li class="aside__li">
                    <a href="/catalogo" class="aside__a">
                        <i class="fa-solid fa-grip-vertical aside__icon"></i>
                        Catálogo
                    </a>
                </li>
                <li class="aside__li">
                    <a href="/exibir/carrinho" class="aside__a">
                        <i class="fa-solid fa-cart-shopping aside__icon"></i>
                        Meu Carrinho
                    </a>
                </li>
                <li class="aside__li">
                    <button href="" class="aside__a theme-toggle">
                        <i class="fa-solid fa-sun aside__icon"></i>
                        Tema
                    </button>
                </li>
                <!--                 <li class="aside__li">
                    <a href="/admin" class="aside__a">
                        <i class="bi bi-shield-lock aside__icon"></i>
                        Gerenciamento (admin só)
                    </a>
                </li> -->
            </ul>
        </nav>