body {
    background: var(--gradient-catalogoLight);
    min-height: 100vh;
    height: auto;
    margin: 0;
    font-family: Arial, sans-serif;
}

body.dark{
    background: var(--gradient-catalogoDark);
}

.header__search-category-btn{
    padding: 8px 12px;
    background-color: var(--rosa-secundario-escuro);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 5px;
}

body.dark .header__search-category-btn{
    background-color: var(--rosa-secundario);
}
.catalogo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem; /* Optional: adds spacing between items */
    align-items: center;
    justify-items: center; /* <-- this centers items horizontally */

}

.nav-bar{
    width: 100%;
}
body.dark .nav-bar{
    background-color: var(--rosa-primario-medio);
}
.catalogo__filmes {
    
    border-radius: 10px;
    padding: 10px;
    width: 240px;
}

.catalogo__filmes-img {
    width: 220px;
    height: 300px;
    border: 5px solid var(--rosa-secundario-escuro);
    border-radius: 10px;
    display: none;
}

body.dark .catalogo__filmes-img{
    border: 5px solid var(--rosa-secundario);
}

.catalogo__filmes-img.active{
    display: block;
}

.catalogo__filmes-acoes {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
}

.filme-infos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.filme-titulo {
    font-weight: bold;
    color: var(--rosa-primaro-medio);
    height: 50px;
}

body.dark .filme-ver-mais{
    color: var(--branco);
}
body.dark .filme-titulo{
    color: var(--rosa-secundario-claro);
}

body a{
    text-decoration: none;
    color: var(--branco);
}

body.dark a{
    text-decoration: none;
    color: var(--branco);
}
.catalogo__filmes-btn {
    padding: 8px 12px;
    background-color: var(--rosa-secundario-escuro);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 5px;
    width: 100%;
}

body.dark .catalogo__filmes-btn{
    background-color: var(--rosa-secundario);
}

.catalogo__filmes-btn:hover{
    background-color: var(--rosa-primario-escuro);
}

body.dark .catalogo__filmes-btn:hover{
    background-color: var(--rosa-secundario-medio);
}

.menu {
    display: none;
    flex-direction: column;
    background-color: var(--rosa-primario-escuro);
    border-radius: 10px;
    padding: 10px;
    
    position: absolute; /* ou 'fixed' se quiser que ele fique preso na tela */
    top: 120px; /* ajusta conforme o tamanho do seu header */
    left: 10px;
    z-index: 1000; /* garante que fique acima dos filmes */
    width: 200px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
body.dark .menu{
    background-color: var(--rosa-primario-claro);
}
.menu.show {
    display: flex;
}
    
/* Estilo do botão de menu */
.menu-toggle{
    display: block;
}

.menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
}

@media(max-width:1400px){
    .catalogo{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width:1000px){
    .catalogo{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:600px){
    .catalogo{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:400px){
    .catalogo{
        grid-template-columns: repeat(1, 1fr);
    }
}