
/* Header --------------------------------------------------------------------- */
.header__container{
height: 80px;
background: var(--rosa-secundario);
position: fixed;
top: 0;
width: 100%;
}

.header__icon{
    color: var(--rosa-primario-medio);
}

.header__text{
    display: none;
    color: var(--branco);
}

.header__item :hover .header__icon{
    color: var(--rosa-primario-escuro);
}

/* Menu Toggle */
.header__menu-toggle ul{
background: var(--rosa-secundario);
}

.header__menu-toggle li :hover{
    background-color: var(--rosa-secundario-medio);
}

/* Usuário */
.user__text{
    color: var(--branco);
}

.header__user :hover .user__text{
    color: var(--rosa-primario-escuro);
}

/* Main ----------------------------------------------------------------------- */

.main__container{
    margin-top: 100px;
}

/* Footer --------------------------------------------------------------------- */
.footer__container{
    min-height: 100px;
    background: var(--rosa-secundario);
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;

}


/* Medias -------------------------------------------------------------------------------------------- */
@media (max-width: 992px){
    /* Header */
    .header__icon{
        display: none;
    }
    .header__text{
        display: inline;

    }
}