:root {

    /* Rosas primarios */
    --rosa-primario-claro: #FFA7C7;
    --rosa-primario: #FE5694;
    --rosa-primario-medio: #A92B59;
    --rosa-primario-escuro: #8A2248;


    /* Rosas secundários */
    --rosa-secundario-claro: #FFD5E4;
    --rosa-secundario: #FE76A8;
    --rosa-secundario-medio: #C75D84;
    --rosa-secundario-escuro: #8F4A63;


    /* Verdes */
    --verde-claro: #C0FFF1;
    --verde: #5DE1C4;
    --verde-medio: #42A18C;
    --verde-escuro: #256456;
}