<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Cadastro</title>

    <!-- Links do CSS -->
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/paginas/pagCadastro.css">
    <!-- --------------------------------------------------------- -->
</head>

<body>
    <main class="main__cadastro-container">
        
        <form class="form__cadastro" action="/cadastrar/usuario" method="post">
            <h1 class="titulo__cadastro">CADASTRE-SE</h1>
            <div class="form__cadastro-name">
                <input type="text" name="nome" class="input__cadastro-name input__cadastro-names " placeholder="Nome(Ex: Alicia)">
                <input type="text" name="sobrenome" class="input__cadastro-lastName input__cadastro-names " placeholder="Sobrenome(Ex: Pavão)">
            </div>

            <input type="text" name="usuario" class="input__cadastro-usuario input__cadastro " placeholder="Nome de usuario(Ex: alicia_123)">
            <input type="text" name="email" class="input__cadastro-email input__cadastro" placeholder="Email(Ex: aliciapavao@gmil.com)">
            <input type="text" name="telefone" class="input__cadastro-tel input__cadastro" placeholder="Telefone(Ex: 00.12345-6789)">

            <input type="text" name="senha" class="input__cadastro-senha input__cadastro" placeholder="Senha(Ex: 12345678)">
            <input type="text" name="rep_senha" class="input__cadastro-senhaConfirm input__cadastro" placeholder="Confirmar senha(Ex: 12345678)">

            <button class="btn__cadastrar">CADASTRAR</button>

            <p class="text__cadastro">Já possui um cadastro? <a class="link__cadastro" href="/login">Clique aqui</a>!</p>
        </form>
    </main>
    <script src="/static/js/themeToggle/theme-toggle.js"></script>
</body>
</html>