<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disco Mágico - Carrinho</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/paginas/pagCarrinho.css">
</head>
<body>
    <header class="header__container">
        
    </header>
    <main class="carrinho">
        <section class="carrinho__itens">
            <div class="carrinho__item">
                <div class="carrinho__item-info">
                    
                </div>
                <div class="carrinho__item-actions">

                </div>
            </div>
        </section>
        <section class="carrinho__pedido">

        </section>
    </main>
    <footer class="footer__container">

    </footer>
    <!-- <script src="/static/js/pag_carrinho/get-itens.js"></script> -->
</body>
</html>