<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cátalogo - Disco Mágico</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/paginas/pagCatalogo.css')}}">
</head>
<body>
    <section class="aside__container">

    </section>
    <header class="header__container">

    </header>
    <div class="nav-bar">
        <button class="menu-toggle" aria-label="Abrir menu"><i class="fa-solid fa-filter" style="color: #42a18c;"></i></button>
        <nav id="menu" class="menu">
            {% if categoria_atual != "todas" %}
            <button class="header__search-category-btn"><a href="/catalogo">Todas</a></button>
            {% endif %}            
            {% for categoria in categorias%}
            <button class="header__search-category-btn"><a href="/filmes/exibir/{{categoria.id_categoria}}">{{categoria.categoria}}</a></button>
            {% endfor %}
        </nav>
    </div>
    <main class="catalogo">
        
        {% for filme in filmes %}
        <div class="catalogo__filmes">
            <figure>
                <img src="{{filme.img_1}}" alt="" class="catalogo__filmes-img">
                <caption>
                    <div class="catalogo__filmes-acoes">
                        <div class="filme-infos">
                            <p class="filme-titulo">{{filme.nome_filme}}</p>
                        </div>
                        <div class="filme-ver-mais">
                            <p>Preço: R${{filme.preco}}</p>
                            <button class="catalogo__filmes-btn"><a href="/filme/{{filme.id_filme}}">Ver mais</a></button>
                        </div>
                    </div>
                    
                </caption>
                
            </figure>
        </div>
        {% endfor %}
    </main>
    <footer>

    </footer>
    <script src="/static/js/themeToggle/theme-toggle.js"></script>
    <script src="https://kit.fontawesome.com/2fcc2a2373.js" crossorigin="anonymous"></script>
</body>
<script>
    const menuToggle = document.querySelector('.menu-toggle');
    const menu = document.querySelector('#menu');
    menuToggle.addEventListener('click', ()=>{
        menu.classList.toggle('show');
    })
</script>
</html>